*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* Estilos del header */
.header {
    background-color:#CDD6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 5px 150px;
}

.logo a{
    text-decoration: none;

}

/* Estilos del btn-login */
.header .btn-login button {
    font-weight: 800;
    color: dark;
    padding: 13px 30px;
    background-color: rgb(255, 255, 255);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn-login button:hover {
    background-color: #294968;
    color: white;
    transform: scale(1.1);
}
/* Fin de los estilos del header */


/* Estilos del top mas vendido */
.titulos .subtitulos h3 {
    margin-top: 80px;
}
.container {
    max-width: 1200px;
    width: 95%;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list .card-toy {
    width: 350px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    color: #000;
    cursor: default;
    transition: all 200ms ease;
}

.card-toy:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-1%);
}

.card-toy img {
    width: 100%;
    height: 300px;
}

.card-toy .contenido-toy {
    padding: 15px;
    text-align: center;
}

.card-toy .contenido-toy p {
    line-height: 1.5;
    color: #313131;
    padding-bottom: 15px;
}

.card-toy .contenido-toy h3 {
    font-weight: 600;
    margin-bottom: 15px;
}

.card-toy .contenido-toy a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #000;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    transition: all 400ms ease;
}
.card-toy .contenido-toy a:hover {
    background-color: rgb(57, 3, 101);
    color: rgb(255, 255, 255);
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* Subtitlos de la pagina */
.titulos {
    text-align: center;
}
.subtitulos h3 {
    font-size: 50px;
    margin-bottom: 25px;
    border-bottom: 5px solid #295264;
    padding-bottom: 10px;
    padding-top: 30px;
    display: inline-block;
    text-align: center;
    display: inline-block;
}

/* Estilos del "Quines somos" */
.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px ;
}

.heading h3 {
    font-size: 50px;    
    margin-bottom: 25px;
    position: relative;
}

.heading h3::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #295264;
}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container-about {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display:block ;
}


.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 23px;
    margin: 15px;
    color: #333;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3 ease;
    background-color: #295264;
}

.about-content .read-more:hover {
    background-color: #1f3e4b;
}




/* .container-info {
    height: 200px;
    background-color: #1900ff;
    margin-bottom: 20px;
    margin-top: 20px;
} */

#icons-section {
    background: #00a8fb;
    padding: 50px 0;
    color: #000;
    margin-bottom: 20px;
}

#icons-section .container-info {
    display: flex;
    justify-content:center;
}

#icons-section .box-info {
    position: relative;
    width: 254px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#icons-section .item-info:after {
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: -24px;
    height: 48px;
    background: #ff0000;
    content: "";
}

#icons-section .active:last-child .item-info:after {
    display: none;
}

#icons-section .box-info img {
    align-self: center;
    margin-right: 15px;
    align-self: center;
    width: auto;
    display: inline-block;
}

#icons-section .box-info img {
    color: #FFF;
    font-size: 18px;
}

/* Estilos del footer */
.footer {
    position: relative;
    background: #295264;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}
