*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* Estilos del header */
.header {
    background-color:#BEE9DD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 5px 150px;
}

.logo a{
    text-decoration: none;
    color: #000;
    }

/* Estilos del btn-login */
.header .btn-login button {
    font-weight: 800;
    color: dark;
    padding: 13px 30px;
    background-color: rgb(255, 255, 255);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn-login button:hover {
    background-color: #294968;
    color: white;
    transform: scale(1.1);
}
/* Fin de los estilos del header */


/* Estilos del top mas vendido */
.titulos .subtitulos h3 {
    margin-top: 80px;
}
.container {
    max-width: 1200px;
    width: 95%;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list .card-toy {
    width: 350px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    color: #000;
    cursor: default;
    transition: all 200ms ease;
}

.card-toy:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-1%);
}

.card-toy img {
    width: 100%;
    height: 300px;
}

.card-toy .contenido-toy {
    padding: 15px;
    text-align: center;
}

.card-toy .contenido-toy p {
    line-height: 1.5;
    color: #313131;
    padding-bottom: 15px;
}

.card-toy .contenido-toy h3 {
    font-weight: 600;
    margin-bottom: 15px;
}

.card-toy .contenido-toy a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #000;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    transition: all 400ms ease;
}
.card-toy .contenido-toy a:hover {
    background-color: rgb(57, 3, 101);
    color: rgb(255, 255, 255);
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* Subtitlos de la pagina */
.titulos {
    text-align: center;
}
.subtitulos h3 {
    font-size: 50px;
    margin-bottom: 25px;
    border-bottom: 5px solid #295264;
    padding-bottom: 10px;
    padding-top: 30px;
    display: inline-block;
    text-align: center;
    display: inline-block;
}

/* Estilos del "Quines somos" */
.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px ;
}

.heading h3 {
    font-size: 50px;    
    margin-bottom: 25px;
    position: relative;
}

.heading h3::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #295264;
}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container-about {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display:block ;
}


.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 23px;
    margin: 15px;
    color: #333;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3 ease;
    background-color: #295264;
}

.about-content .read-more:hover {
    background-color: #1f3e4b;
}




/* .container-info {
    height: 200px;
    background-color: #1900ff;
    margin-bottom: 20px;
    margin-top: 20px;
} */

#icons-section {
    background: #00a8fb;
    padding: 50px 0;
    color: #000;
    margin-bottom: 20px;
}

#icons-section .container-info {
    display: flex;
    justify-content:center;
}

#icons-section .box-info {
    position: relative;
    width: 254px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#icons-section .item-info:after {
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: -24px;
    height: 48px;
    background: #ff0000;
    content: "";
}

#icons-section .active:last-child .item-info:after {
    display: none;
}

#icons-section .box-info img {
    align-self: center;
    margin-right: 15px;
    align-self: center;
    width: auto;
    display: inline-block;
}

#icons-section .box-info img {
    color: #FFF;
    font-size: 18px;
}

/* Estilos del footer */
.footer {
    position: relative;
    background: #295264;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

/* Estamos probando carajo */
.contenedor{
    padding: 10px;
    display: flex;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
.contenedor .contenedor-items .item{
    width: 250px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    height: 200px;
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border-radius: 0.3125rem;
    border: 1px solid #666;
    width: 550px;
    margin-top: 30px;
    margin: 30px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
}
.carrito .header-carrito{
    background-color: #BEE9DD;
    color: #282828;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
    margin: auto;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:35px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #BEE9DD;
    color: #282828;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}


/*//////////////////////    Estilos De Login/Register   /////////////// */
/* Parte de Login/Register */
.wrapper {
    margin: auto;
    width: 450px;
    border: 2px solid rgba(255, 255, 255, .2);
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #000000;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h4 {
    font-size: 30px;
    text-align: center;
}

h5 {
    color: #33333380;
    font-size: 12px;
}
.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgb(213, 213, 213);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px ;
}


.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 100%;
}

/* Estilos para escribir las informacion */
.input-container input[type="text"], input[type="password"]{
    font-size: 15px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    }

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label,
.input-container input[type="password"]:focus ~ .label,
.input-container input[type="password"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: rgb(73, 1, 73);
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(113, 1, 113);
    transform: scaleX(0);
    transition: all 0.3s ease;
}
.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(113, 1, 113);
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline,
.input-container input[type="password"]:focus ~ .label,
.input-container input[type="password"]:valid ~ .label {
transform: scaleX(1);
}
/* /////////// */


.wrapper .btn {
    width: 90%;
    height: 45px;
    position: relative;
    left: 5%;
    background-color: rgb(73, 1, 73);
    border: none;
    outline: none;
    color: white;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0,.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

/* Estilos para el Boton de SUBIR */


.wrapper .register-link {
    font-size: 14.5px;
    text-align:center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #880bad;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover {
    text-decoration: underline;
}

.full-rounded {
    font-size: 16px;
    position: relative;
    margin: auto;
    padding: 1em 2.5em 1em 2.5em;
    border: none;
    background: #ffffff;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

.full-rounded:active {
    transform: scale(0.95);
}

.full-rounded span {
    color: #464646;
}

.full-rounded .border {
    position: absolute;
    border: 0.15em solid #fff;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 9em;
    height: 3em;
    transform: translate(-50%, -50%);
}

.full-rounded:hover .border {
    display: block;
    width: 10.7em;
    height: 4.1em;
}

.full-rounded {
    border-radius: 2em;
}


/* Search-Bar */
.search {
    --padding:24px;
    width:fit-content;
    display: flex;
    text-align: center;
    align-items: center;
    padding: var(--padding);
    padding: 14px;
    border-radius: 28px;
    background-color: #f6f6f6;
    width:  600px;
}

.search-input {
    font-size: 16px;
    color: #333;
    margin-left: 14px;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background-color: transparent;
}
.search input {
    width: 600px;
}

.search-input::placeholder,
.search i {
    color: rgba(0, 0, 0, 0.25);
}

.btn-productos {
    padding: 15px;
    border-radius:10px;
    text-decoration: none;
}