<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Animado</title>
    <link rel="stylesheet" href="./css/xd.css" />
  </head>
  <body>
    <a href="./index.html" class="btn btn-primary">Volver</a>
    <div class="contenedor">
      <div class="caja">
        <form action="" class="form">
          <h2 class="titulo">Registrarse</h2>
          <input type="text" class="input nombre" placeholder="Usuario" />
          <input
            type="password"
            class="input contraseña"
            placeholder="Contraseña"
          />
          <input type="button" class="input registrarse" value="Registrarse" />
          <div class="grupo">
            <a href="" class="link olvide-contraseña">Olvidé mi contraseña</a>
            <a href="" class="link iniciar-sesion">Iniciar sesión</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>