<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Link del boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Link del css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Link de los Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <!-- Link de las fuentes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <!-- Nombre de la pestaña -->
    <title>LedesToy peluches y accesorios</title>
</head>
<body>
    <!-- Header de la pagina -->
    <header class="header">
        <div class="logo"> 
            <a href="../../index.html"><h1>LedesToy</h1></a>
        </div>
        <a href="./Productos.html">Productos</a>
        <a href="./login.html" class="btn-login"><button><i class="fa-solid fa-user"></i></button></a>
    </header>
    <!-- Fin del header pagina -->

    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">

                        <div class="item">
                            <span class="titulo-item">Ajolote Rosa</span>
                            <img src="../static/img/img_peluches/Ajolote.jpg" alt="" class="img-item">
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>

                        <div class="item">
                            <span class="titulo-item">Ajolote Azul</span>
                            <img src="../static/img/img_peluches/ajolote_azul.png" alt="" class="img-item">
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>

                        <div class="item">
                            <span class="titulo-item">Capibara</span>
                            <img src="../static/img/img_peluches/capibara.png" alt="" class="img-item">
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>

                        <div class="item">
                            <span class="titulo-item">Dinosaurio</span>
                            <img src="../static/img/img_peluches/dinosaurio.jpg" alt="" class="img-item">
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>
            
                        <div class="item">
                            <span class="titulo-item">Oso</span>
                            <img src="../static/img/img_peluches/oso.jpg" alt="" class="img-item">
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>
            
                        <div class="item">
                            <span class="titulo-item">Oso Azul</span>
                            <img src="../static/img/img_peluches/oso_azul.png" alt="" class="img-item">
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div> 

                        <div class="item">
                            <span class="titulo-item">Carpincho </span>
                            <img src="../static/img/img_peluches/carpincho-mochi.jpg" alt="" class="img-item">
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>
            
                        <div class="item">
                            <span class="titulo-item">Conejo</span>
                            <img src="../static/img/img_peluches/conejo.png" alt="" class="img-item">
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>
        </div> 
        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2><i class="fa-solid fa-paw"></i>Peluche</h2>
            </div>
            <div class="carrito-items">
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    </span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
        </div>
    </section>


<!-- Pie de Pagina-->
    <footer class="footer">
        <ul class="social-icon">
        <li class="icon-elem">
            <a href="" class="icon">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </li>
        </ul>
        <ul class="menu">
        <li class="menu-elem">
            <a href="./index.html" class="menu-icon"> Inicio </a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon"> Equipo </a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon"> Contacto </a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon"> Video </a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon"> Sobre Nosotros </a>
        </li>
        </ul>
    </footer>
<!-- Carrito -->
<script src="../static/js/carrito.js" async></script>
<!-- Script de Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>