<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Link del boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Link del css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Link de los Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <!-- Link de las fuentes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <!-- Nombre de la pestaña -->
    <title>LedesToy peluches y accesorios</title>
</head>
<body>
    <!-- Header de la pagina -->
    <header class="header">
        <div class="logo"> 
            <a href="../../index.html"><img src="../static/img/icon/LedesToy.png" alt="" class="logo-ledestoy">
            </a>
        </div>
        <a href="./Productos.html" class="btn-productos">Productos</a>
        <a href="./login.php" class="btn-login"><button><i class="fa-solid fa-user"></i></button></a>
    </header>
    <!-- Fin del header pagina -->
            <div class="nav-build-friend">
                <a href="./Productos.html" class="nav-build">Peluches</a>
                <a href="./ropa.html" class="nav-build">Ropa</a>
                <a href="./sonido.html" class="nav-build" style="background-color: red;">Sonido</a>
            </div>
    <section class="contenedor">


        <!-- Contenedor de elementos -->
        <div class="contenedor-items">

                        <div class="item">
                            <span class="titulo-item">Latidos</span>
                            <div class="card">
                            <img src="../static/img/Sonido_img/Corazon.png" alt="" class="img-item">
                            <button class="button" onclick="playAudio('audio1')"><i class="fa-solid fa-play"></i></button>
                            <audio id="audio1" src="https://www.buildabear.com/on/demandware.static/-/Library-Sites-BuildABearSharedLibrary/default/dw8cf28bd6/sounds/024713.mp3"></audio>
                        </div>
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>
                        
                        <div class="item">
                            <span class="titulo-item">Darth Vader Sonido</span>
                            <div class="card">
                            <img src="../static/img/Sonido_img/Darth_vader.png" alt="" class="img-item">
                            <button class="button"onclick="playAudio('audio2')"><i class="fa-solid fa-play"></i></button>
                            <audio id="audio2" src="https://www.buildabear.com/on/demandware.static/-/Library-Sites-BuildABearSharedLibrary/default/dw06cc07dc/sounds/023086.mp3"></audio>
                        </div>
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>

                        <div class="item">
                            <span class="titulo-item">Sonido Gatitos</span>
                            <div class="card">
                            <img src="../static/img/Sonido_img/gatitos.jpg" alt="" class="img-item">
                            <button class="button"onclick="playAudio('audio3')"><i class="fa-solid fa-play"></i></button>
                            <audio id="audio3" src="https://www.buildabear.com/on/demandware.static/-/Library-Sites-BuildABearSharedLibrary/default/dw64995491/sounds/022538.mp3"></audio>
                        </div>
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>

                        <div class="item">
                            <span class="titulo-item">Feliz Cumpleaños</span>
                            <div class="card">
                            <img src="../static/img/Sonido_img/torta.png" alt="" class="img-item">
                            <button class="button"onclick="playAudio('audio4')"><i class="fa-solid fa-play"></i></button>
                            <audio id="audio4" src="https://www.buildabear.com/on/demandware.static/-/Library-Sites-BuildABearSharedLibrary/default/dw260efe25/sounds/027828.mp3"></audio>
                        </div>
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>

                        <div class="item">
                            <span class="titulo-item">Sonido Perritos</span>
                            <div class="card">
                            <img src="../static/img/Sonido_img/perritos.jpg" alt="" class="img-item">
                            <button class="button"onclick="playAudio('audio5')"><i class="fa-solid fa-play"></i></button>
                            <audio id="audio5" src="https://www.buildabear.com/on/demandware.static/-/Library-Sites-BuildABearSharedLibrary/default/dwcaa3dcfc/sounds/022539.mp3"></audio>
                        </div>
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>

                        <div class="item">
                            <span class="titulo-item">Sonido Sapito</span>
                            <div class="card">
                            <img src="../static/img/Sonido_img/sapitos.jpg" alt="" class="img-item">
                            <button class="button"onclick="playAudio('audio6')"><i class="fa-solid fa-play"></i></button>
                            <audio id="audio6" src="https://www.buildabear.com/on/demandware.static/-/Library-Sites-BuildABearSharedLibrary/default/dw1acc308f/sounds/031584.mp3"></audio>
                        </div>
                            <span class="precio-item">$9.39</span>
                            <button class="boton-item">Agregar al Carrito</button>
                        </div>

        </div> 
        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Peluche</h2>
            </div>
            <div class="carrito-items">
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    <span class="carrito-precio-total">
                        $0
                    </span>
                    </span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
        </div>
    </section>


<!-- Pie de Pagina-->
    <footer class="footer">
        <ul class="social-icon">
        <li class="icon-elem">
            <a href="" class="icon">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </li>
        </ul>
        <ul class="menu">
        <li class="menu-elem">
            <a href="./index.html" class="menu-icon"> Inicio </a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon"> Equipo </a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon"> Contacto </a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon"> Video </a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon"> Sobre Nosotros </a>
        </li>
        </ul>
    </footer>
<!-- Reproducion del sonido -->
<script>
function playAudio(audioId) {
            const audio = document.getElementById(audioId);
            audio.play();
        }
</script>
<!-- Carrito -->
<script src="../static/js/carrito.js" async></script>
<!-- Script de Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>